.DS_Store
*.asv
*.asv
*.asv
CommandLine/OldProablyTrash/*
CommandLine/OldProablyTrash/*/*
BackgroundFitsResults*
CommandLine/Bomyi/*
CommandLine/Josh/complex_dusp1.zip
tests/tmp*/*
tmp*s/*
EricModel/tmp*/*
CommandLine/Josh/OldVersions/*
CommandLine/Josh/*
CommandLine/tmp*/*
CommandLine/SawyerHelaAndA549/*
*.zip
tests/testData.csv
tests/testDataSSA.csv
EricModel/tmp*/*
CommandLine/DavidKing/*
CommandLine/Josh/*
CommandLine/Josh/*/*
CommandLine/Josh/*/*/*
EricModel/TMPEricMH.mat
EricModel/TMPEricMHDusp1.mat
tests/testData1.csv
tests/testData2.csv
tests/TwoDNonLinearTV.xml
CommandLine/tmp.xml
CommandLine/TMPmh_1.mat
CommandLine/Vo_et_al_2023/*
Examples/incompleteExamples/*
Examples/tmp*/*