.DS_Store
*.asv
CommandLine/OldProablyTrash/*
CommandLine/OldProablyTrash/*/*
BackgroundFitsResults*
CommandLine/Bomyi/*
CommandLine/Josh/complex_dusp1.zip
tests/tmp*/*
tmp*s/*
EricModel/tmp*/*
CommandLine/Josh/OldVersions/*
CommandLine/Josh/*
CommandLine/tmp*/*
CommandLine/SawyerHelaAndA549/*
*.zip
tests/testData.csv
tests/testDataSSA.csv
EricModel/tmp*/*
CommandLine/DavidKing/*
CommandLine/Josh/*
CommandLine/Josh/*/*
CommandLine/Josh/*/*/*
EricModel/TMPEricMH.mat
EricModel/TMPEricMHDusp1.mat
tests/testData1.csv
tests/testData2.csv
tests/TwoDNonLinearTV.xml
CommandLine/tmp.xml
CommandLine/TMPmh_1.mat
CommandLine/Vo_et_al_2023/*
Examples/incompleteExamples/*
Examples/tmp*/*
Examples/TMPmh*
Examples/FakeExperiment_*.csv
WorkSpace/Bomyi/*
WorkSpace/Bomyi/*/*
WorkSpace/Bomyi/*/*/*
WorkSpace/DavidKing/*
WorkSpace/DavidKing/*/*
WorkSpace/DavidKing/*/*/*
WorkSpace/Josh/OldVersions/*
WorkSpace/Josh/OldVersions/*/*
WorkSpace/Josh/OldVersions/*/*/*
WorkSpace/OldProablyTrash/*
WorkSpace/OldProablyTrash/*/*
WorkSpace/OldProablyTrash/*/*/*
*/*/*/tmpPropensityFunctions/*
*/*/tmpPropensityFunctions/*
*/tmpPropensityFunctions/*
Examples/Iterative*.mat
WorkSpace/sequentialEDcdc/FakeExperiment_*.csv
WorkSpace/Josh/Fake*.csv
/WorkSpace/sequentialEDcdc/ExampleData
WorkSpace/sequentialEDcdc/*.mat
WorkSpace/sequentialEDcdc/oldMod3Results_ProbablyTrash/*.mat
WorkSpace/sequentialEDcdc/simData/Fake*.csv
WorkSpace/sequentialEDcdc/ExampleData/purposeExp_v*.csv
WorkSpace/sequentialEDcdc/ExampleData/*_permuted.csv
WorkSpace/sequentialEDcdc/ExampleData/*seed*.csv
WorkSpace/sequentialEDcdc/*seed.mat
WorkSpace/sequentialEDcdc/oldMod3Results_ProbablyTrash/*
WorkSpace/sequentialEDcdc/poisson_fimopt_*
WorkSpace/sequentialEDcdc/poisson_rand*
WorkSpace/sequentialEDcdc/simData/Fake*
WorkSpace/sequentialEDcdc/TMPMHChai*
WorkSpace/sequentialEDcdc/simData/*
WorkSpace/sequentialEDcdc/simData/FakeExperiment_poisson_fimopt_10.csv
WorkSpace/EricModel/terminalVersion/log.txt
WorkSpace/EricModel/EricData/Gated_dataframe_Ron_020224_NormalizedGR_binsB.csv
Examples/reformatFiguresACS2024.m
Examples/Cook_etal_2024_Sequential_Design/simData/*.csv
Examples/Cook_etal_2024_Sequential_Design/TMPMHChain*
tests/exampleResultsTest.mat
tests/TemporarySaveFile.mat
WorkSpace/PipelineApproach/exampleResults.mat
WorkSpace/PipelineApproach/savedModelGR.mat
WorkSpace/PipelineApproach/GRModelFitResults.mat
WorkSpace/PipelineApproach/savedGRmultiModel.mat
tests/TMPtable.csv
Examples/PLOSCompBio/TMPmh*.mat
tests/exampleCombinedResultsTest.mat
tests/logFile.txt
tests/temporarySaveFile2.mat
tests/temporaryHybridModel.mat
Examples/PLOSCompBio/generatedModel.mat
/WorkSpaceBAK
/trash
tests/testDataSSANEW.csv
Examples/PLOSCompBio/STL1_ODE.mp4
Examples/PLOSCompBio/Model_ODE.mp4
Examples/PLOSCompBio/STL1_4state_ODE.mp4
tests/testData.csv
tests/testData.csv
tests/testData1.csv
tests/testData2.csv
tests/TMPmh_*
tests/TmpGPUSSACode.m
/Models/IgnoredModels
TimeMarginal.mp4
tests/TmpGPUSSACode.m
/Models/ZZ_IgnoredModels
/RemovedModels
Examples/TmpGPUSSACode.m
TmpGPUSSACode.m
/Examples/seqModels
