name: Run MATLAB Tests on GitHub-Hosted Runner
on: [push]
jobs:
  my-job:
    name: Run MATLAB Tests and Generate Artifacts
    runs-on: ubuntu-latest
    continue-on-error: true
    strategy:
      matrix:
        release: [R2023a
        #, R2023b TODO: There is currently a bug affecting one test on R2023b
        ]  
    steps:
      - name: Check out repository
        uses: actions/checkout@v3
      - name: Set up MATLAB
        uses: matlab-actions/setup-matlab@v1
        with:
          release: ${{ matrix.release }}
      - name: Add paths
        uses: matlab-actions/run-command@v1
        with:
          command: addpath(genpath("src"))
      - name: Install (setup)
        uses: matlab-actions/run-command@v1
        with:
          command: install(0,0,1,1)
      - name: Run MATLAB Tests
        uses: matlab-actions/run-tests@v1.5.2    
        with:
          select-by-folder: tests
          select-by-name: '^(?!testGui$).*'
          test-results-junit: test-results/results.xml
          code-coverage-cobertura: code-coverage/coverage.xml
          source-folder: src